.searchlist-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
}
.searchlist-container .movie-card {
  cursor: pointer;
  width: 200px;
  margin: 10px;
  transition: all 400ms ease-in-out;
}
.searchlist-container .movie-card:hover {
  padding: 5px;
}
.searchlist-container .movie-card img {
  width: 100%;
  height: 100%;
}
