@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --white: rgba(0, 0, 0, 0);
  --black: rgba(0, 0, 0, 0.9);
  --white-color: #fff;
  --black-color: #000;
}
.app {
  background: url("../assets/bg.png");
  background-color: var(--black);
  color: var(--white-color);
  position: relative;
  min-height: 100vh;
  width: 100%;
}
