.header {
  width: 1005;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.header .left {
  display: flex;
}
.header .left .movie-img img {
  width: 35px;
}
.header .left .movie-name h1 {
  font-size: 30px;
  color: rgba(219, 22, 22, 0.832);
  font-weight: 800;
  margin-left: 10px;
}
.header .right button {
  font-size: 30px;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  border-radius: 4px;
}
